*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size:100px;
    --mark-size: cal(var(--cell-size) * 9);
}

body {
    margin: 0px;
}

.board {
    width:100vw;
    height:100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    background-color: rgb(216, 216, 228);
}

.cell{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 254, 254);
    border: 1px solid rgb(41, 32, 32);
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}


.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}